@mixin sectionTitle() {
  $text-clr: #228fca;

  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding: 56px 0;
  color: $text-clr;
  letter-spacing: 2px;
  font-size: 40px;
  @media screen and (max-width: 576px) {
    font-size: 28px;
  }
}
