header {
  min-height: 620px; }
  header #header-carousel .carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px; }
  header #header-carousel .carousel-control {
    width: 8%;
    opacity: 0.8; }
    header #header-carousel .carousel-control i.fa {
      font-size: 80px; }
  header #header-carousel .carousel-item {
    min-height: 620px;
    height: 100%;
    background: url("../img/home/carousel_bg.png");
    background-size: cover;
    background-repeat: no-repeat no-repeat; }
    header #header-carousel .carousel-item .left-side {
      padding-top: 75px; }
      header #header-carousel .carousel-item .left-side__head-text {
        padding-top: 90px;
        color: white; }
        header #header-carousel .carousel-item .left-side__head-text h1 {
          font-size: 30px;
          font-weight: 700;
          letter-spacing: 1.75px; }
          header #header-carousel .carousel-item .left-side__head-text h1 span {
            font-size: 55px;
            letter-spacing: 2.75px; }
        header #header-carousel .carousel-item .left-side__head-text p {
          font-size: 19px;
          color: #c2c0c0;
          letter-spacing: 0.95px; }
      header #header-carousel .carousel-item .left-side__btn {
        padding-top: 58px; }
        header #header-carousel .carousel-item .left-side__btn button {
          background-color: #ff7200;
          color: white;
          font-size: 37px;
          letter-spacing: 1.85px;
          font-weight: 400;
          border-radius: 10px; }

#catalog {
  padding-bottom: 23px; }
  #catalog .catalog-title {
    padding: 56px 0;
    color: #228fca;
    letter-spacing: 2px;
    font-size: 40px; }
  #catalog .catalog a {
    min-height: 282px;
    height: 100%;
    width: 267px;
    border-radius: 10px;
    border: 3px solid #f2efef; }
  #catalog .catalog__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #catalog .catalog__item-text {
      padding-top: 30px;
      font-size: 20px;
      color: #08425d;
      font-weight: bold;
      letter-spacing: 1px; }

#why-we {
  min-height: 480px;
  height: 100%;
  background: url("../img/home/why-we_bg.png");
  background-size: cover;
  background-repeat: no-repeat no-repeat; }
  #why-we .section-title {
    padding: 56px 0;
    color: #228fca;
    letter-spacing: 2px;
    font-size: 40px;
    color: #fff; }
  #why-we .why__text p {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.75px;
    color: white;
    text-align: center; }
  #why-we .button {
    padding-top: 32px; }
    #why-we .button button {
      border-radius: 10px;
      background-color: #228fca;
      color: white;
      font-size: 29px;
      font-weight: 400;
      letter-spacing: 1.45px; }
