nav.navbar.second-nabavr {
  background-color: #f8f8f8;
  border-top: 2px #d6d6d6 solid; }
  nav.navbar.second-nabavr ul.navbar-nav li:first-child a {
    background-color: #228fca;
    color: #fff; }

nav.navbar ul.navbar-nav li {
  padding-right: 15px; }
  nav.navbar ul.navbar-nav li:last-child {
    padding-right: unset; }
  nav.navbar ul.navbar-nav li a {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.75px;
    color: #033f5a; }
    nav.navbar ul.navbar-nav li a.btn {
      border: 2px solid #228fca;
      border-radius: 10px;
      color: #228fca;
      font-size: 17px;
      font-weight: 400;
      letter-spacing: 0.85px; }
  nav.navbar ul.navbar-nav li.social p {
    font-size: 15px;
    color: #000;
    font-style: italic; }
  nav.navbar ul.navbar-nav li.social a {
    font-size: 12px;
    text-decoration: underline;
    color: #033f5a;
    font-style: italic;
    font-weight: normal; }

header {
  min-height: 620px; }
  header #header-carousel .carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px; }
  header #header-carousel .carousel-control {
    width: 8%;
    opacity: 0.8; }
    header #header-carousel .carousel-control i.fa {
      font-size: 80px; }
  header #header-carousel .carousel-item {
    min-height: 620px;
    height: 100%;
    background: url("../img/home/carousel_bg.png");
    background-size: cover;
    background-repeat: no-repeat no-repeat; }
    header #header-carousel .carousel-item .left-side {
      padding-top: 75px; }
      header #header-carousel .carousel-item .left-side__head-text {
        padding-top: 90px;
        color: white; }
        header #header-carousel .carousel-item .left-side__head-text h1 {
          font-size: 30px;
          font-weight: 700;
          letter-spacing: 1.75px; }
          header #header-carousel .carousel-item .left-side__head-text h1 span {
            font-size: 55px;
            letter-spacing: 2.75px; }
        header #header-carousel .carousel-item .left-side__head-text p {
          font-size: 19px;
          color: #c2c0c0;
          letter-spacing: 0.95px; }
      header #header-carousel .carousel-item .left-side__btn {
        padding-top: 58px; }
        header #header-carousel .carousel-item .left-side__btn button {
          background-color: #ff7200;
          color: white;
          font-size: 37px;
          letter-spacing: 1.85px;
          font-weight: 400;
          border-radius: 10px; }

#catalog {
  padding-bottom: 23px; }
  #catalog .catalog-title {
    padding: 56px 0;
    color: #228fca;
    letter-spacing: 2px;
    font-size: 40px; }
  #catalog .catalog a {
    min-height: 282px;
    height: 100%;
    width: 267px;
    border-radius: 10px;
    border: 3px solid #f2efef; }
  #catalog .catalog__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #catalog .catalog__item-text {
      padding-top: 30px;
      font-size: 20px;
      color: #08425d;
      font-weight: bold;
      letter-spacing: 1px; }

#why-we {
  min-height: 480px;
  height: 100%;
  background: url("../img/home/why-we_bg.png");
  background-size: cover;
  background-repeat: no-repeat no-repeat; }
  #why-we .section-title {
    padding: 56px 0;
    color: #228fca;
    letter-spacing: 2px;
    font-size: 40px;
    color: #fff; }
  #why-we .why__text p {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.75px;
    color: white;
    text-align: center; }
  #why-we .button {
    padding-top: 32px; }
    #why-we .button button {
      border-radius: 10px;
      background-color: #228fca;
      color: white;
      font-size: 29px;
      font-weight: 400;
      letter-spacing: 1.45px; }

#bestseller {
  background: url("../img/home/bestseller-bg.png");
  background-size: inherit;
  background-repeat: no-repeat no-repeat;
  background-position: right; }
  #bestseller .section-title {
    padding: 56px 0;
    color: #228fca;
    letter-spacing: 2px;
    font-size: 40px; }
  #bestseller #carouselProduction .productionsSliderItem .card {
    border-radius: 10px;
    border: 2px solid #228fca;
    max-width: 258px;
    padding-bottom: 25px; }
    #bestseller #carouselProduction .productionsSliderItem .card .cover {
      padding: 20px 0;
      border-radius: 10px 10px 0 0;
      background-color: #f9f9f9; }
    #bestseller #carouselProduction .productionsSliderItem .card p {
      padding-top: 15px;
      color: #033f5a;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.9px; }
    #bestseller #carouselProduction .productionsSliderItem .card button {
      background-color: #228fca;
      border-radius: 10px;
      color: #fff;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 1px; }
  #bestseller #carouselProduction .carousel-controls {
    width: 1%;
    opacity: 1; }
    #bestseller #carouselProduction .carousel-controls i.fa {
      color: #228fca;
      font-size: 90px; }

@media (min-width: 768px) {
  .our-production .carousel-inner .active,
  .our-production .carousel-inner .active + .carousel-item,
  .our-production .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
    transition: all 0.5s ease-in-out; }
  .our-production .carousel-inner .carousel-production-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .our-production .carousel-inner .carousel-production-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-production-item,
  .our-production .carousel-inner .carousel-production-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-production-item + .carousel-production-item {
    transition: none; }
  .our-production .carousel-inner .carousel-item-next,
  .our-production .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0); }
  .our-production .carousel-inner .active.carousel-production-item + .carousel-production-item + .carousel-production-item + .carousel-production-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    display: none;
    visibility: visible;
    transition: all 1s ease-in-out; }
  .our-production .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .our-production .carousel-item-next.carousel-item-left + .carousel-item,
  .our-production .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .our-production .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
    /*transition: all 4s ease-in-out;*/ }
  .our-production .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible; }
  .our-production .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .our-production .carousel-item-prev.carousel-item-right + .carousel-item,
  .our-production .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .our-production .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
    /*transition: all 4s ease-in-out;*/ } }

#order-scheme {
  background: url("../img/home/zakaz-bg.png");
  background-size: inherit;
  background-repeat: no-repeat no-repeat;
  background-position: left;
  margin-top: 40px;
  padding-bottom: 60px; }
  #order-scheme .section-title {
    padding: 56px 0;
    color: #228fca;
    letter-spacing: 2px;
    font-size: 40px; }
  #order-scheme .number {
    display: flex;
    align-items: flex-end; }
    #order-scheme .number p {
      font-size: 91px;
      font-weight: bold;
      color: #228fca;
      margin-bottom: 0;
      height: 80%; }
  #order-scheme .text {
    display: flex;
    align-items: flex-end; }
    #order-scheme .text p {
      color: #228fca;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 0; }

#get-call {
  padding: 55px 0;
  background-color: #106e98; }
  #get-call h2 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1.8px; }
  #get-call button {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1.05px;
    background-color: #228fca;
    color: #fff;
    border-radius: 10px; }

footer {
  padding-top: 65px;
  background-color: #f4f2f2; }
  footer .footer-col {
    position: relative; }
    footer .footer-col:after {
      content: "";
      height: 100%;
      width: 2px;
      background-color: #106e98;
      opacity: 0.1;
      right: 7%;
      position: absolute; }
  footer ul li a {
    color: #696969;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.75px; }
  footer button {
    margin-top: 32px; }
    footer button.outline, footer button.default {
      background: transparent;
      border: 2px solid #228fca;
      border-radius: 10px;
      color: #228fca;
      font-size: 17px;
      font-weight: 400;
      letter-spacing: 0.85px; }
    footer button.default {
      background: #228fca;
      color: #fff; }
  footer .social p {
    font-size: 15px;
    color: #000;
    font-style: italic; }
  footer .social a {
    font-size: 12px;
    text-decoration: underline;
    color: #033f5a;
    font-style: italic; }
  footer .fb {
    color: #228fca; }
    footer .fb h2 {
      font-size: 60px;
      font-weight: bold; }
    footer .fb p {
      font-size: 16px;
      font-weight: 300; }
  footer .bottom-footer {
    font-size: 15px;
    font-weight: 300;
    color: #696969; }
    footer .bottom-footer span {
      color: #06425d;
      font-weight: bold; }
    footer .bottom-footer a {
      text-decoration: underline;
      color: #696969; }
