#getCallModal {
  $brdr-clr: #033f5a;
  $text-clr: #033f5a;
  $dismiss: #033f5a;
  $inputBg: #f8f8f8;
  $placeholder: #ced4da;
  &.show {
    display: flex !important;
    .modal-dialog {
      margin: auto;
    }
  }

  .modal-header {
    border-bottom: unset;
    padding: 0;

    button {
      color: $dismiss;
      opacity: 1;
      font-size: 40px;
    }
  }
  .modal-content {
    padding: 20px 30px;
    border-radius: unset;
    border: 8px $brdr-clr solid;
  }
  .modal-body {
    input {
      background-color: $inputBg;
      border: unset;
      border-radius: 10px;
      padding: 25px 35px;
      margin-top: 30px;
      //   max-width: 305px;
      &:focus {
        box-shadow: unset;
      }
      width: 100%;
      margin: 0 auto;
      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */

        color: $placeholder;
        font-size: em(15);
      }
      &::-moz-placeholder {
        /* Firefox 19+ */

        color: $placeholder;
        font-size: em(15);
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: $placeholder;
        font-size: em(15);
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: $placeholder;
        font-size: em(15);
      }
    }
    padding-top: 0;
    h1 {
      font-size: 28px;
      color: $dismiss;
      font-family: "Lato-Regular", sans-serif;
      font-weight: bold;
    }
    p {
      font-size: 16px;
      font-family: "Lato-Regular", sans-serif;
      font-weight: bold;
      color: $brdr-clr;
    }
    input[type="submit"] {
      font-family: "Lato-Regular", sans-serif;
      font-weight: bold;
      font-size: 18px;
      border-radius: 10px;
      background-color: $dismiss;
      color: #fff;
      padding: 10px 50px;
    }
  }
  //
  @media screen and (max-width: 575px) {
    .modal-content {
      padding: 20px 10px;
      border-radius: unset;
      border: unset;
    }
    .modal-body {
      h1 {
        font-size: 22px;
      }
      p {
        font-size: 12px;
      }
      input[type="submit"] {
        font-size: 14px;
      }
    }
  }
  //
}

#getMap {
  $bg: #033f5a;
  $dismiss: #fff;
  &.show {
    display: flex !important;
    .modal-dialog {
      margin: auto;
    }
  }
  .modal-dialog {
    width: 100%;
  }

  .modal-header {
    background-color: $bg;
    border-bottom: unset;
    align-items: center;
    h5 {
      font-family: "Lato-Regular", sans-serif;
      font-weight: bold;
      font-size: 16px;
      color: $dismiss;
    }

    button {
      color: $dismiss;
      opacity: 1;
      span {
        display: block;
        margin-bottom: 10px;
      }
    }
  }

  .modal-body {
    padding: 0;
    iframe {
      width: 100%;
      height: 450px;
    }
  }
}
