$brd-clr: #f2efef;
$catalog-txt-clr: #08425d;

#catalog {
  padding-bottom: 23px;
  .catalog-title {
    @include sectionTitle;
  }
  .catalog {
    .catalog-card {
      .catalog__item-text {
        p {
          font-size: 15px;
          letter-spacing: 0.75px;
        }
      }
    }
    a.link,
    .catalog-card {
      position: relative;
      min-height: 282px;
      width: 267px;
      border-radius: 10px;
      border: 3px solid $brd-clr;
      transition: 0.5s ease-in-out;
      &:hover {
        text-decoration: none;
        transform: scale(1.1);
        box-shadow: 0 0 15px $brd-clr;
      }
    }
    &__item-button {
      margin: 10px 0;
      a {
        padding-left: 30px;
        padding-right: 30px;
        background-color: #228fca;
        color: #fff;
        border-radius: 10px;
        font-family: "MyriadPro", sans-serif;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: 0.85px;
      }
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &-text {
        position: relative;
        font-family: "Lato", sans-serif;
        padding-top: 30px;
        font-size: 20px;
        color: $catalog-txt-clr;
        font-weight: bold;
        letter-spacing: 1px;
      }
    }
  }
  @media screen and (max-width: 575px) {
    .catalog {
      a.link,
      .catalog-card {
        &:hover {
          transform: unset;
          box-shadow: unset;
        }
      }
    }
  }
}
