#details {
  $bg-clr: #fbfbfb;
  $main-text-clr: #000;
  $btn-bg: #228fca;

  padding-bottom: 65px;
  background-color: $bg-clr;
  h1 {
    @include sectionTitle;
  }
  #detailsCarousel {
    .carousel-item {
      background-color: #fff;
      border-radius: 10px;
      border: 2px solid #f4f4f4;
      img {
        max-width: 175px;
      }
    }
    .controls {
      opacity: 0.9;
      i.fa {
        color: #000;
        font-size: 50px;
        background-color: #f4f4f4;
        padding: 10px 17px;
      }
    }
  }
  .details {
    &__info {
      .in-stock {
        span {
          font-family: "Lato-Light", sans-serif;
          letter-spacing: 0.85px;
          padding: 5px 25px;
          border-radius: 10px;
          border: 1px solid #228fca;
          color: #000;
          font-size: 17px;
        }
      }
      .not-in-stock {
        padding-top: 15px;
        span {
          font-family: "Lato-Light", sans-serif;
          letter-spacing: 0.85px;
          padding: 5px 25px;
          border-radius: 10px;
          border: 1px solid red;
          color: red;
          font-size: 17px;
        }
      }
      .price {
        p {
          font-family: "Lato", sans-serif;
          font-weight: bold;
          font-size: 30px;
          span {
            font-size: 25px;
            font-weight: normal;
            font-family: "Lato-Light", sans-serif;
          }
        }
      }
      .button {
        .btn {
          background-color: $btn-bg;
          color: #fff;
          border-radius: 10px;
          font-family: "Lato", sans-serif;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 0.73px;
        }
      }
      .location {
        font-family: "PT-Sans", sans-serif;
        p {
          font-size: 15px;
          color: #000;
          font-style: italic;
        }
        a {
          font-size: 12px;
          text-decoration: underline;
          color: #033f5a;
          font-style: italic;
        }
      }
      .delivery-order {
        ul {
          li {
            a {
              color: #033f5a;
              font-family: "PT-Sans", sans-serif;
              font-size: 15px;
              font-style: italic;
              letter-spacing: 0.75px;
              font-weight: bold;
              padding: 5px 0;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
    .description {
      p {
        font-family: "Lato-Light", sans-serif;
        font-size: 17px;
        letter-spacing: 0.85px;
        color: $main-text-clr;
        text-align: justify;
      }
    }
    .go-to {
      a {
        background-color: $btn-bg;
        color: #fff;
        border-radius: 10px;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.73px;
      }
    }
  }
  @media screen and(min-width: 768px) and (max-width: 992px) {
    #detailsCarousel {
      .controls {
        i.fa {
          padding: 15px 41px;
        }
      }
    }

    .details {
      &__info {
        .in-stock {
          padding-top: 25px;
          span {
            font-size: 16px;
          }
        }
        .not-in-stock {
          padding-top: 15px;
          span {
            font-size: 16px;
          }
        }
        .price {
          p {
            font-size: 28px;
            span {
              font-size: 23px;
            }
          }
        }
        .button {
          .btn {
            font-size: 16px;
          }
        }
        .location {
          ul {
            li:first-child() {
              margin-right: 25px;
            }
          }
          p {
            font-size: 15px;
          }
          a {
            font-size: 12px;
          }
        }
        .delivery-order {
          ul {
            li {
              a {
                font-size: 15px;
              }
            }
          }
        }
      }
      .description {
        p {
          font-size: 17px;
        }
      }
      .go-to {
        a {
          font-size: 18px;
        }
      }
    }
  }

  @media screen and(min-width: 576px) and (max-width: 767px) {
    #detailsCarousel {
      .controls {
        i.fa {
          padding: 12px 27px;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .details {
      &__info {
        .in-stock {
          padding-top: 25px;
          span {
            font-size: 16px;
          }
        }
        .not-in-stock {
          padding-top: 15px;
          span {
            font-size: 16px;
          }
        }
        .price {
          p {
            font-size: 28px;
            span {
              font-size: 23px;
            }
          }
        }
        .button {
          .btn {
            font-size: 16px;
          }
        }
        .location {
          ul {
            flex-wrap: wrap;
            li:first-child() {
              margin-right: 25px;
            }
          }
          p {
            font-size: 15px;
          }
          a {
            font-size: 12px;
          }
        }
        .delivery-order {
          ul {
            li {
              a {
                font-size: 12px;
              }
            }
          }
        }
      }
      .description {
        p {
          font-size: 14px;
        }
      }
      .go-to {
        a {
          font-size: 18px;
        }
      }
    }
  }
  @media screen and (max-width: 453px) {
    .details__info .location ul li:nth-child(2) {
      margin-top: 20px;
    }
  }
}
