footer {
  $link-clr: #696969;
  $footer-bg: #f4f2f2;
  $btn-clr: #228fca;
  $after-brdr: #106e98;

  padding-top: 65px;
  background-color: $footer-bg;
  .footer-col {
    font-family: "Lato", sans-serif;
    position: relative;
    &:after {
      content: "";
      height: 100%;
      width: 2px;
      background-color: $after-brdr;
      opacity: 0.1;
      right: 7%;
      position: absolute;
    }
  }
  ul {
    li {
      a {
        position: relative;
        color: $link-clr;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.75px;
        &:hover {
          text-decoration: none;
          color: $link-clr;
        }
      }
    }
  }
  button {
    margin-top: 32px;
    font-family: "MyriadPro", sans-serif;
    &.outline {
      background-color: transparent;
      border: 2px solid $btn-clr;
      border-radius: 10px;
      color: $btn-clr;
      font-size: 17px;
      font-weight: 400;
      letter-spacing: 0.85px;
      transition: 1s ease;
      &:hover {
        color: #fff;
        background: $btn-clr;
      }
    }
    &.default-btn {
      @extend .outline;
      background-color: $btn-clr;
      &.shine-btn {
        border: unset;
      }
      color: #fff;
    }
  }
  .social {
    font-family: "PT-Sans", sans-serif;
    p {
      font-size: 15px;
      color: #000;
      font-style: italic;
    }
    a {
      font-size: 12px;
      border-bottom: 1px solid #033f5a;
      color: #033f5a;
      font-style: italic;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .fb {
    color: $btn-clr;
    h2 {
      font-size: 60px;
      font-weight: bold;
    }
    p {
      font-size: 16px;
      font-weight: 300;
    }
  }
  .bottom-footer {
    font-size: 15px;
    font-weight: 100;

    font-family: "Lato-Light", sans-serif;
    span {
      color: #06425d;
      font-weight: bold;
    }
    a {
      text-decoration: underline;
      color: #696969;
    }
    p {
      color: #696969;
    }
  }
  @media screen and (max-width: 767px) {
    button {
      &.outline {
        font-size: 14px;
      }
      &.default {
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 575px) {
    button {
      &.outline {
        margin-left: auto;
        margin-right: auto;
      }
      &.default {
        margin-left: auto;
        margin-right: auto;
      }
    }
    .footer-col {
      &:after {
        content: unset;
      }
    }
    .fb {
      h2 {
        font-size: 36px;
      }
      p {
        font-size: 14px;
      }
    }
    img {
      max-width: 35px;
      height: auto;
    }
  }
}
