$bg-order-scheme: url("../img/home/zakaz-bg.png");
$text-color: #228fca;

#order-scheme {
  background: $bg-order-scheme;
  background-size: inherit;
  background-repeat: no-repeat no-repeat;
  background-position: left;
  .section-title {
    @include sectionTitle;
  }
  .number {
    display: flex;
    align-items: flex-end;
    p {
      font-size: 91px;
      font-weight: bold;
      color: $text-color;
      margin-bottom: 0;
      height: 80%;
    }
  }
  .text {
    display: flex;
    align-items: flex-end;
    p {
      color: $text-color;
      font-size: 20px;
      font-weight: bold;
      //   line-height: 30px;
      margin-bottom: 0;
    }
  }
}
