$bg-why-we: url("../img/home/why-we_bg.png");
$text-clr: white;
$btn-bg: #228fca;

#why-we {
  min-height: 480px;
  background: $bg-why-we;
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  .section-title {
    @include sectionTitle;
    color: #fff;
  }
  .why {
    &__text {
      p {
        font-family: "Lato", sans-serif;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.75px;
        color: $text-clr;
        text-align: center;
      }
    }
  }
  .button {
    padding-top: 32px;
    button {
      border-radius: 10px;
      background-color: $btn-bg;
      color: $text-clr;
      font-size: 29px;
      font-weight: 400;
      letter-spacing: 1.45px;
    }
  }
  @media screen and (max-width: 575px) {
    .button {
      button {
        font-size: 18px;
      }
    }
  }
}
